<div class="renter-dashboard-main">
  <div class="renter-dashboard-head">
    <p> Account Management </p>
  </div>
  <table style="width:80%" class= "renter-table">
    <tr>
      <th>Unit Occupant</th>
      <th>Unit Number</th>
      <th>Unit Type</th>
      <th>Rent</th>
      <th>Rent Due Date</th>
      <th>Rent Status</th>
    </tr>
    <tr>
      <td><%= current_user.first_name %> <%= current_user.last_name %> </td>
      <td><%= current_user.unit.unit_number %> </td>
      <td><%= current_user.unit.unit_type %></td>
      <td><%= number_to_currency(current_user.unit.rent) %></td>
      <td><%= current_user.unit.unit_due_date %></td>
      <td><%= render 'shared/rent_paid'%></td>
    </tr>
  </table>
  <div class= "edit-details">
    <p><%= link_to "Edit Account Details", edit_user_path(current_user) %></p>
    <p><%= link_to "View Available Events", events_path %></p>
 </div>
